In [1]:
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import normalize
from sklearn.naive_bayes import GaussianNB

In [2]:
data = pd.read_csv('data.csv')
data['Sex'] = data['Sex'].map( {'M':1, 'F':0} ) 
data.Latitude = (data.Latitude-data.Latitude.mean())/data.Latitude.std()
data.Longitude = (data.Longitude-data.Longitude.mean())/data.Longitude.std()
data.Age = (data.Age-data.Age.mean())/data.Age.std()

In [3]:
# sample data from hospitals
data.head()

        Age  Sex    Disease  Latitude  Longitude
0 -0.174526    1     Dengue  0.140744  -0.134466
1 -0.091419    1     Dengue  0.140744  -0.134466
2 -1.005604    1  Pneumonia  0.140744  -0.134466
3 -0.590065    1     Dengue  0.140744  -0.134466
4 -1.171819    1     Dengue  0.140744  -0.134466

In [4]:
X = data[['Age', 'Sex', 'Latitude', 'Longitude']]
y = data['Disease']

In [5]:
clf3 = GaussianNB()

In [6]:
clf2 = LogisticRegression(max_iter = 10000)

In [7]:
clf =  MLPClassifier(solver='adam', alpha=1e-5,
                    hidden_layer_sizes=(5, 2), random_state=1, max_iter = 1000000)

In [8]:
clf.fit(X,y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='adam', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [15]:
users = pd.read_csv('users.csv')
users.Birthday = pd.to_datetime('today') - pd.to_datetime(users.Birthday, format='%d/%m/%y')
users['Age'] = (users.Birthday-users.Birthday.mean())/users.Birthday.std()
users['Sex'] = users['Sex'].map( {'M':1, 'F':0} ) 
users.Latitude = (users.Latitude-users.Latitude.mean())/users.Latitude.std()
users.Longitude = (users.Longitude-users.Longitude.mean())/users.Longitude.std()

In [16]:
# sample data of registered users
users.head()

   Phone Number  Latitude  Longitude   Birthday  Sex       Age
0    7042040870  0.682598   0.312830  7350 days    1 -0.749946
1    7836913485  0.691419   0.304962  7358 days    1 -0.746041
2    9582214588  0.686886  -1.699131 10006 days    0  0.546498
3    9582214589 -0.550595   0.129914 11974 days    1  1.507116
4    9582245158 -1.510308   0.951426  7744 days    0 -0.557627

In [17]:
test = users[['Age', 'Sex', 'Latitude', 'Longitude']]

In [18]:
test['Prediction'] = clf.predict(test)

/home/nikhil/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [19]:
test.head()

        Age  Sex  Latitude  Longitude  Prediction
0 -0.749946    1  0.682598   0.312830  Dermatitis
1 -0.746041    1  0.691419   0.304962  Dermatitis
2  0.546498    0  0.686886  -1.699131    Dysentry
3  1.507116    1 -0.550595   0.129914      Dengue
4 -0.557627    0 -1.510308   0.951426   Hepatitis

In [20]:
from twilio.rest import Client

account = "AC7916179cce80230eeec1c380fdf17d0a"
token = "0300c379bf9474ee5604c23a61c8a0ec"
client = Client(account, token)


dengue_msg = '''hello-SMS\nNamaste! 
Dengue cases are rising in your locality, hence it is advised to take necessary actions like removing stagnant 
water and wearing clothes that cover your skin. Stay alert and safe!'''


message = client.messages.create(to="+917836913485", from_="+18434746681",
                                 body=dengue_msg)